<!----------------------Banner Section---------------------->
<section id="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class=" promo-title">Best Digital Agency</p>
         <p>Hello whom is welcome this is my new site check this version this version is devloped by Angular 12</p>
         <a href=""><img src="../assets/images/play.png" class="play-btn" alt="" id="bannerimg">Watch Tutorials</a>
        </div>
        <div class="col-md-6">
          <img src="../assets/images/home2.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    <img src="../assets/images/wave1.png" alt="" class="bottomimg">
 </section>
 