<!-----------------------Footer Section ------------------------>

<section id="footer">
    <img src="../assets/images/wave2.png" alt="" class="footer-png">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="./assets/images/demo-logo.png" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quis, quas, vel nemo maiores repudiandae
          quia error sint deserunt, fuga praesentium accusamus in hic ab. Aperiam beatae sunt ducimus odit.</p>
      </div>
      <div class="col-md-4 footer-box">
        <img src="./assets/images/demo-logo.png" alt="">
        <p><b>CONTACT US</b></p>
        <p><i class="fa fa-map-marker" aria-hidden="true"></i>WORLD TRADE CENTER SKRDU</p>
        <p> <i class="fa fa-phone" aria-hidden="true"></i>+92 3485153893</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i>ISSAEHTISHAMALI@GMAIL.COM</p>
  
      </div>
      <div class="col-md-4 footer-box">
        <img src="./assets/images/demo-logo.png" alt="">
        <p><b>SUBSCRIBE NEWSLETTER</b></p>
        <input type="email" class="form-control" placeholder="your email..."><br>
        <button type="button " class="btn btn-outline-primary">SUBSCRIBE</button>
  
      </div>
      
    </div>
    <hr>
    <p class="copy-right">WEBSITE CREATED BY EHTISHAM ALI</p>
  
  </div>
  
  
  </section>
  