
<!-----------------------About Us Section -------------------------->
<section id="about-us">
    <div class="container ">
      <h1 class="text-center title">WHY CHOOSE US</h1>
      <div class="row">
        <div class="col-md-6 about-us">
          <p class="about-title">Why we're different</p>
          <ul>
            <li>Home</li>
            <li>About</li>
            <li>Portfoilio</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="../assets/images/network.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </section>
  